<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>method</key>
    <string>app-store</string> <!-- or 'ad-hoc', 'enterprise' depending on your use case -->
    <key>teamID</key>
    <string>001</string> <!-- Your Apple Development Team ID -->
    <key>bundleIdentifier</key>
    <string>pan-asia.in-01</string> <!-- Your app's bundle identifier -->
    <key>uploadSymbols</key>
    <true/>
  </dict>
</plist>
